<a href="https://colab.research.google.com/github/rajeev2712/repo1_gen/blob/master/Random_Forest_Model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!wget http://prdownloads.sourceforge.net/ta-lib/ta-lib-0.4.0-src.tar.gz
!tar -xzvf ta-lib-0.4.0-src.tar.gz
%cd ta-lib
!./configure --prefix=/usr
!make
!make install
!pip install Ta-Lib
import talib

In [ ]:
!pip install yfinance

In [9]:
from sklearn.metrics import mean_squared_error
from math import sqrt
from datetime import date
import matplotlib
import matplotlib.patches as mpatches
import seaborn as sns
from matplotlib import pyplot as plt
import plotly.express as px
%matplotlib inline
import datetime as dt
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import pyplot
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import ParameterGrid
from sklearn import metrics
%matplotlib inline

In [10]:
import yfinance as yf

In [8]:
ticker= "ADANIPORTS.NS"
stock_Adani = yf.download(ticker, start="2017-02-04", end="2022-02-04")###Past 5 years data Train sample
stock_Adani.tail()

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-01-28,713.000000,732.799988,707.500000,710.150024,710.150024,3543413
2022-01-31,719.700012,723.900024,714.549988,716.299988,716.299988,2152066
2022-02-01,721.000000,744.299988,720.650024,738.750000,738.750000,6052108
2022-02-02,723.900024,746.849976,721.500000,745.200012,745.200012,6167378
2022-02-03,744.049988,745.000000,729.400024,732.500000,732.500000,2689612

In [9]:
ticker= "ASIANPAINT.NS"
stock_Asian = yf.download(ticker, start="2017-02-04", end="2022-02-04")###Past 5 years data Train sample
stock_Asian.tail()

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-01-28,3130.000000,3170.000000,3103.000000,3110.850098,3093.025635,892060
2022-01-31,3140.000000,3193.449951,3136.399902,3152.250000,3134.188477,944530
2022-02-01,3194.000000,3212.350098,3141.600098,3196.250000,3177.936279,1008915
2022-02-02,3204.800049,3244.149902,3192.149902,3197.699951,3179.377930,667265
2022-02-03,3212.850098,3241.600098,3190.199951,3203.000000,3184.647705,899753

In [10]:
ticker= "BHARTIARTL.NS"
stock_Bharti = yf.download(ticker, start="2017-02-04", end="2022-02-04")###Past 5 years data Train sample
stock_Bharti.tail()

[*********************100%***********************]  1 of 1 completed

                  Open    High         Low       Close   Adj Close    Volume
Date
2022-01-28  714.900024  754.00  701.650024  715.799988  715.799988  21450677
2022-01-31  728.000000  735.00  719.549988  729.299988  729.299988  10745370
2022-02-01  733.000000  735.00  718.299988  723.049988  723.049988   4814511
2022-02-02  726.099976  731.75  720.500000  725.049988  725.049988   3286577
2022-02-03  726.000000  729.00  718.500000  721.650024  721.650024   3651578

In [11]:
ticker= "NTPC.NS"
stock_Ntpc = yf.download(ticker, start="2017-02-04", end="2022-02-04")###Past 5 years data Train sample
stock_Ntpc.tail()

[*********************100%***********************]  1 of 1 completed

             Open        High         Low       Close   Adj Close    Volume
Date
2022-01-28  140.0  144.000000  138.000000  140.149994  136.178329  34009553
2022-01-31  142.0  143.399994  138.550003  142.050003  138.024490  27928927
2022-02-01  144.0  144.149994  140.449997  141.149994  137.149994  17413984
2022-02-02  142.0  142.750000  140.750000  141.149994  137.149994  10783943
2022-02-03  137.5  138.600006  136.300003  136.649994  136.649994   9571728

In [12]:
ticker= "RELIANCE.NS"
stock_Rel = yf.download(ticker, start="2017-02-04", end="2022-02-04")###Past 5 years data Train sample
stock_Rel.tail()

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-01-28,2365.000000,2375.899902,2328.399902,2335.850098,2335.850098,6769154
2022-01-31,2360.199951,2406.399902,2356.199951,2386.600098,2386.600098,5604308
2022-02-01,2408.000000,2420.600098,2347.100098,2378.699951,2378.699951,6092033
2022-02-02,2407.000000,2407.000000,2375.100098,2383.550049,2383.550049,4623163
2022-02-03,2392.000000,2401.449951,2347.199951,2352.750000,2352.750000,4417864

In [13]:
ticker= "SBIN.NS"
stock_Sb = yf.download(ticker, start="2017-02-04", end="2022-02-04")###Past 5 years data Train sample
stock_Sb.tail()

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-01-28,534.000000,536.400024,521.400024,523.450012,515.406494,24715250
2022-01-31,529.000000,540.900024,527.049988,538.299988,530.028320,28674232
2022-02-01,543.950012,543.950012,520.000000,532.299988,524.120483,32245356
2022-02-02,536.650024,544.250000,531.349976,539.799988,531.505249,21661864
2022-02-03,537.150024,544.700012,537.150024,540.099976,531.800659,22717677

In [14]:
ticker= "SUNPHARMA.NS"
stock_Sun = yf.download(ticker, start="2017-02-04", end="2022-02-04")###Past 5 years data Train sample
stock_Sun.tail()

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-01-28,816.000000,842.900024,812.099976,827.349976,820.872559,5073701
2022-01-31,830.099976,849.750000,820.049988,834.500000,827.966614,8041517
2022-02-01,847.400024,895.000000,839.849976,891.750000,884.768372,12337459
2022-02-02,890.000000,898.450012,882.000000,890.650024,883.677002,4404741
2022-02-03,889.349976,891.200012,880.450012,883.549988,876.632568,2292825

In [15]:
ticker= "TCS.NS"
stock_Tcs = yf.download(ticker, start="2017-02-04", end="2022-02-04")###Past 5 years data Train sample
stock_Tcs.tail()

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-01-28,3646.000000,3729.800049,3646.000000,3690.050049,3665.360107,3143862
2022-01-31,3749.000000,3758.000000,3721.399902,3736.250000,3711.250732,2739393
2022-02-01,3770.000000,3808.000000,3736.399902,3800.649902,3775.219727,2105169
2022-02-02,3827.899902,3864.000000,3800.649902,3856.199951,3830.398193,1984212
2022-02-03,3851.000000,3882.500000,3816.050049,3824.600098,3799.009766,1960538

In [16]:
ticker= "ULTRACEMCO.NS"
stock_UT = yf.download(ticker, start="2017-02-04", end="2022-02-04")###Past 5 years data Train sample
stock_UT.tail()

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-01-28,7120.899902,7266.399902,7094.000000,7109.850098,7109.850098,511605
2022-01-31,7188.899902,7279.549805,7167.600098,7216.399902,7216.399902,250406
2022-02-01,7263.200195,7535.500000,7235.200195,7516.250000,7516.250000,731348
2022-02-02,7572.700195,7575.000000,7425.000000,7441.000000,7441.000000,324627
2022-02-03,7461.000000,7485.000000,7351.000000,7375.350098,7375.350098,167162

In [17]:
ticker= "HINDUNILVR.NS"
stock_Hul = yf.download(ticker, start="2017-02-04", end="2022-02-04")###Past 5 years data Train sample
stock_Hul.tail()

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-01-28,2294.600098,2318.699951,2278.050049,2283.550049,2243.529297,1967721
2022-01-31,2290.000000,2311.850098,2271.000000,2273.750000,2233.900879,1639875
2022-02-01,2303.300049,2320.000000,2278.399902,2305.649902,2265.241943,1270508
2022-02-02,2324.100098,2333.000000,2296.550049,2327.899902,2287.101807,1246111
2022-02-03,2329.000000,2331.949951,2290.000000,2298.149902,2257.873291,1448039